<div class="bg-dark">
  <div class="bg-light p-2 border border-bottom rounded">
    <%= render './layouts/shared/website/navbar/social_network' %>
    <%= render './layouts/shared/website/navbar/register_login' %>
  </div>
</div>