<div class="footer-center">
	<h3>Company</h3>
	<p class="footer-company-about">
		Example
	</p>

	<p class="footer-links">

	</p>

	<div class="footer-icons">

	</div>
	
	<p class="footer-company-name mt-3">
		Copyright &copy; <%= Time.current.year %> Reflow
	</p>
</div>