<!-- The content of your page would go here. -->
<footer class="footer-distributed">
	<div class="container top-buffer bottom-buffer">
	<%= render './layouts/shared/website/footer/left' %>
	<%= render './layouts/shared/website/footer/center' %>
	<%#= render './layouts/shared/website/footer/form_newsletter', 
	newsletter: @newsletter %>
	</div>
</footer>