<div class="footer-left">
	<%= link_to :root, :class => 'tc op80' do %>
		<h3>
			<div class="box" id="box1">Re</div>
			<div class="box" id="box2">Flow</div>
		</h3>
	<% end %>
	
	<p class="footer-links">

	</p>

	<p class="footer-company-name">
		Powered by 
		<a href="https://github.com/souzaleandror" target="_Blank">
			SouzaLeandroR &copy; <%= Time.current.year %> 
		</a>
	</p>
	<p>
		<%= link_to 'Login', admin_session_path, class: 'tc', target: 'blank' %>
	</p>
</div>